# OS
.DS_Store

# IDE
/.fleet
/.idea
/.vscode

# Package Managers
/vendor
composer.lock

# Local Dev
/.vapor
.phpunit.cache
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
_lighthouse_ide_helper.php
auth.json
phpunit.xml